//---------------------------------------------------------------------------
//
// Name:        Projeto 2App.rc
// Author:      Walker
// Created:     28/09/2016 17:39:56
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
